.git/
.gitignore
.forgejo/
.github/
.idea/
.phpunit.result.cache
.dockerignore
Dockerfile.test
docker-compose.test.yml
federation/
Makefile
phpunit.xml
phpunit-*.phar
README.md
reports/
target/
tests/
vendor/
